:root{
    --main-txt-size: 1rem;
}
h1{
    margin-top: 5rem;
}
body{
        background: 
        radial-gradient(circle at -10% 110%, #60caff, #60caff80 5%, transparent 40%, #ffcece80 95%, #ffcece),
        url(noise-mobile.svg),
        var(--bg-color);
}
@media screen and (max-width: 300px) {
    :root{
        --main-txt-size: 5vw
    }
}
@media screen and (max-width: 60px), screen and (max-height: 60px) {
    body{
        >*{
            display: none;
        }
        &::after{
            content: "見ないで";
        }
    }
}